<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT uBlogsyBaseDocType ANY>
<!ATTLIST uBlogsyBaseDocType id ID #REQUIRED>
<!ELEMENT uBlogsyBaseContainer ANY>
<!ATTLIST uBlogsyBaseContainer id ID #REQUIRED>
<!ELEMENT uBlogsyBasePage ANY>
<!ATTLIST uBlogsyBasePage id ID #REQUIRED>
<!ELEMENT uBlogsyAuthor ANY>
<!ATTLIST uBlogsyAuthor id ID #REQUIRED>
<!ELEMENT uBlogsyLabel ANY>
<!ATTLIST uBlogsyLabel id ID #REQUIRED>
<!ELEMENT uBlogsyContainerAuthor ANY>
<!ATTLIST uBlogsyContainerAuthor id ID #REQUIRED>
<!ELEMENT uBlogsyContainerLabel ANY>
<!ATTLIST uBlogsyContainerLabel id ID #REQUIRED>
<!ELEMENT uBlogsyLanding ANY>
<!ATTLIST uBlogsyLanding id ID #REQUIRED>
<!ELEMENT uBlogsyPage ANY>
<!ATTLIST uBlogsyPage id ID #REQUIRED>
<!ELEMENT uBlogsyPost ANY>
<!ATTLIST uBlogsyPost id ID #REQUIRED>
<!ELEMENT uBlogsyRSS ANY>
<!ATTLIST uBlogsyRSS id ID #REQUIRED>
<!ELEMENT uBlogsySiteRoot ANY>
<!ATTLIST uBlogsySiteRoot id ID #REQUIRED>
<!ELEMENT uDateFoldersyBase ANY>
<!ATTLIST uDateFoldersyBase id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderDay ANY>
<!ATTLIST uDateFoldersyFolderDay id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderMonth ANY>
<!ATTLIST uDateFoldersyFolderMonth id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderYear ANY>
<!ATTLIST uDateFoldersyFolderYear id ID #REQUIRED>
<!ELEMENT uTagsyBaseDocType ANY>
<!ATTLIST uTagsyBaseDocType id ID #REQUIRED>
<!ELEMENT uTagsyTag ANY>
<!ATTLIST uTagsyTag id ID #REQUIRED>
<!ELEMENT uTagsyTagContainer ANY>
<!ATTLIST uTagsyTagContainer id ID #REQUIRED>

]>
<root id="-1">
  <uBlogsySiteRoot id="1078" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-05-11T14:17:14" updateDate="2015-05-11T15:33:17" nodeName="Sample Site Root" urlName="sample-site-root" path="-1,1078" isDoc="" nodeType="1069" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="1056" nodeTypeAlias="uBlogsySiteRoot">
    <uBlogsyLanding id="1079" parentID="1078" level="2" creatorID="0" sortOrder="0" createDate="2015-05-11T14:17:14" updateDate="2015-05-11T17:45:56" nodeName="Blog" urlName="blog" path="-1,1078,1079" isDoc="" nodeType="1065" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="1107" nodeTypeAlias="uBlogsyLanding">
      <uBlogsyContainerAuthor id="1080" parentID="1079" level="3" creatorID="0" sortOrder="0" createDate="2015-05-11T14:17:15" updateDate="2015-05-11T15:33:19" nodeName="Authors" urlName="authors" path="-1,1078,1079,1080" isDoc="" nodeType="1063" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uBlogsyContainerAuthor">
        <uBlogsyAuthor id="1081" parentID="1080" level="4" creatorID="0" sortOrder="0" createDate="2015-05-11T14:17:15" updateDate="2015-05-11T16:01:55" nodeName="Admin" urlName="admin" path="-1,1078,1079,1080,1081" isDoc="" nodeType="1061" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uBlogsyAuthor">
          <umbracoNaviHide>0</umbracoNaviHide>
          <uBlogsyAuthorName><![CDATA[Admin]]></uBlogsyAuthorName>
        </uBlogsyAuthor>
        <umbracoNaviHide>0</umbracoNaviHide>
      </uBlogsyContainerAuthor>
      <uBlogsyContainerLabel id="1082" parentID="1079" level="3" creatorID="0" sortOrder="1" createDate="2015-05-11T14:17:16" updateDate="2015-05-11T15:33:18" nodeName="Categories (optional)" urlName="categories-optional" path="-1,1078,1079,1082" isDoc="" nodeType="1064" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uBlogsyContainerLabel">
        <uBlogsyLabel id="1083" parentID="1082" level="4" creatorID="0" sortOrder="0" createDate="2015-05-11T14:17:16" updateDate="2015-05-11T15:33:18" nodeName="Category 1" urlName="category-1" path="-1,1078,1079,1082,1083" isDoc="" nodeType="1062" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uBlogsyLabel">
          <umbracoNaviHide>0</umbracoNaviHide>
          <uBlogsyLabelName><![CDATA[Category 1]]></uBlogsyLabelName>
        </uBlogsyLabel>
        <umbracoNaviHide>0</umbracoNaviHide>
      </uBlogsyContainerLabel>
      <uTagsyTagContainer id="1084" parentID="1079" level="3" creatorID="0" sortOrder="2" createDate="2015-05-11T14:17:16" updateDate="2015-05-11T15:33:18" nodeName="Tags" urlName="tags" path="-1,1078,1079,1084" isDoc="" nodeType="1076" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uTagsyTagContainer">
        <uTagsyTag id="1095" parentID="1084" level="4" creatorID="0" sortOrder="0" createDate="2015-05-11T15:51:23" updateDate="2015-05-11T15:51:23" nodeName="HTML" urlName="html" path="-1,1078,1079,1084,1095" isDoc="" nodeType="1075" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[HTML]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1096" parentID="1084" level="4" creatorID="0" sortOrder="1" createDate="2015-05-11T15:51:30" updateDate="2015-05-11T15:51:30" nodeName="CSS" urlName="css" path="-1,1078,1079,1084,1096" isDoc="" nodeType="1075" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[CSS]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1097" parentID="1084" level="4" creatorID="0" sortOrder="2" createDate="2015-05-11T15:52:00" updateDate="2015-05-11T15:52:00" nodeName="OOP Concept" urlName="oop-concept" path="-1,1078,1079,1084,1097" isDoc="" nodeType="1075" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[OOP's Concept]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1098" parentID="1084" level="4" creatorID="0" sortOrder="3" createDate="2015-05-11T15:52:15" updateDate="2015-05-11T15:52:15" nodeName="Web Design" urlName="web-design" path="-1,1078,1079,1084,1098" isDoc="" nodeType="1075" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[Web Design]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1099" parentID="1084" level="4" creatorID="0" sortOrder="4" createDate="2015-05-11T15:52:24" updateDate="2015-05-11T15:52:37" nodeName="Advance JQuery" urlName="advance-jquery" path="-1,1078,1079,1084,1099" isDoc="" nodeType="1075" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[Advance JQuery]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1100" parentID="1084" level="4" creatorID="0" sortOrder="5" createDate="2015-05-11T15:52:49" updateDate="2015-05-11T15:52:49" nodeName="Javascript" urlName="javascript" path="-1,1078,1079,1084,1100" isDoc="" nodeType="1075" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[Javascript]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1101" parentID="1084" level="4" creatorID="0" sortOrder="6" createDate="2015-05-11T15:52:56" updateDate="2015-05-11T15:52:56" nodeName="C Programming" urlName="c-programming" path="-1,1078,1079,1084,1101" isDoc="" nodeType="1075" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[C Programming]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1102" parentID="1084" level="4" creatorID="0" sortOrder="7" createDate="2015-05-11T15:53:10" updateDate="2015-05-11T15:53:10" nodeName="Java Programming" urlName="java-programming" path="-1,1078,1079,1084,1102" isDoc="" nodeType="1075" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[Java Programming]]></uTagsyTagName>
        </uTagsyTag>
      </uTagsyTagContainer>
      <uBlogsyRSS id="1087" parentID="1079" level="3" creatorID="0" sortOrder="3" createDate="2015-05-11T14:17:17" updateDate="2015-05-11T15:33:18" nodeName="RSS" urlName="rss" path="-1,1078,1079,1087" isDoc="" nodeType="1068" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="1055" nodeTypeAlias="uBlogsyRSS">
        <umbracoNaviHide>0</umbracoNaviHide>
        <uBlogsyRssTitle><![CDATA[My Blog]]></uBlogsyRssTitle>
        <uBlogsyRssDescription><![CDATA[Blog Description]]></uBlogsyRssDescription>
        <uBlogsyRssCopyright><![CDATA[Copyright @AnthonyDotNet]]></uBlogsyRssCopyright>
      </uBlogsyRSS>
      <uDateFoldersyFolderYear id="1088" parentID="1079" level="3" creatorID="0" sortOrder="4" createDate="2015-05-11T14:17:17" updateDate="2015-05-11T15:33:19" nodeName="2015" urlName="2015" path="-1,1078,1079,1088" isDoc="" nodeType="1073" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="1057" nodeTypeAlias="uDateFoldersyFolderYear">
        <uDateFoldersyFolderMonth id="1104" parentID="1088" level="4" creatorID="0" sortOrder="1" createDate="2015-05-11T15:59:25" updateDate="2015-05-11T15:59:25" nodeName="May" urlName="may" path="-1,1078,1079,1088,1104" isDoc="" nodeType="1072" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="1057" nodeTypeAlias="uDateFoldersyFolderMonth">
          <uDateFoldersyFolderDay id="1105" parentID="1104" level="5" creatorID="0" sortOrder="0" createDate="2015-05-11T15:59:26" updateDate="2015-05-11T15:59:26" nodeName="11" urlName="11" path="-1,1078,1079,1088,1104,1105" isDoc="" nodeType="1071" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="1057" nodeTypeAlias="uDateFoldersyFolderDay">
            <uBlogsyPost id="1103" parentID="1105" level="6" creatorID="0" sortOrder="1" createDate="2015-05-11T15:59:24" updateDate="2015-05-11T17:42:44" nodeName="Voluptatem accusantium doloremque laudantium" urlName="voluptatem-accusantium-doloremque-laudantium" path="-1,1078,1079,1088,1104,1105,1103" isDoc="" nodeType="1067" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="1107" nodeTypeAlias="uBlogsyPost">
              <umbracoNaviHide>0</umbracoNaviHide>
              <uBlogsyContentTitle><![CDATA[Voluptatem accusantium doloremque laudantium]]></uBlogsyContentTitle>
              <uBlogsyContentBody><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. </span><a href="file:///C:/Users/jmaghuyop/Downloads/multi-page/multi-page/blog-1.html#">Praesent ultricies</a><span> enim ac ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sodales eu orci. Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut </span><strong>commodo ullamcorper risus nec</strong><span> mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</span></p>]]></uBlogsyContentBody>
              <uBlogsyNavigationTitle><![CDATA[Voluptatem accusantium doloremque laudantium]]></uBlogsyNavigationTitle>
              <uBlogsyPostDate>2015-05-11T15:59:17</uBlogsyPostDate>
              <uBlogsyPostImage>1106</uBlogsyPostImage>
              <uBlogsyPostTags><![CDATA[1095,1096,1097,1098,1099,1100,1101,1102]]></uBlogsyPostTags>
              <uBlogsyPostDisableComments>0</uBlogsyPostDisableComments>
            </uBlogsyPost>
            <uBlogsyPost id="1110" parentID="1105" level="6" creatorID="0" sortOrder="2" createDate="2015-05-11T18:54:46" updateDate="2015-05-11T18:56:53" nodeName="Erassing hidden in the middle of texl" urlName="erassing-hidden-in-the-middle-of-texl" path="-1,1078,1079,1088,1104,1105,1110" isDoc="" nodeType="1067" creatorName="Jez Reel R. Maghuyop" writerName="Jez Reel R. Maghuyop" writerID="0" template="1108" nodeTypeAlias="uBlogsyPost">
              <umbracoNaviHide>0</umbracoNaviHide>
              <uBlogsyContentTitle><![CDATA[Erassing hidden in the middle of texl]]></uBlogsyContentTitle>
              <uBlogsyContentSummary><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. Praesent ultricies enim ac ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sodales eu orci. Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.]]></uBlogsyContentSummary>
              <uBlogsyContentBody><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. </span><a href="file:///C:/Users/jmaghuyop/Downloads/multi-page/multi-page/blog-1.html#">Praesent ultricies</a><span> enim ac ipsum aliquet pellentesque. Nullam justo nunc, dignissim at convallis posuere, sodales eu orci. Duis a risus sed dolor placerat semper quis in urna. Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut </span><strong>commodo ullamcorper risus nec</strong><span> mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Vestibulum in varius arcu.</span></p>]]></uBlogsyContentBody>
              <uBlogsyNavigationTitle><![CDATA[Erassing hidden in the middle of texl]]></uBlogsyNavigationTitle>
              <uBlogsyPostDate>2015-05-11T18:54:43</uBlogsyPostDate>
              <uBlogsyPostImage>1109</uBlogsyPostImage>
              <uBlogsyPostAuthor><![CDATA[1081]]></uBlogsyPostAuthor>
              <uBlogsyPostTags><![CDATA[1095,1097,1099,1102]]></uBlogsyPostTags>
              <uBlogsyPostDisableComments>0</uBlogsyPostDisableComments>
            </uBlogsyPost>
          </uDateFoldersyFolderDay>
        </uDateFoldersyFolderMonth>
      </uDateFoldersyFolderYear>
      <umbracoNaviHide>0</umbracoNaviHide>
      <uBlogsyContentTitle><![CDATA[Blog]]></uBlogsyContentTitle>
      <uBlogsyContentBody><![CDATA[<p>asdasd</p>]]></uBlogsyContentBody>
      <uBlogsyNavigationTitle><![CDATA[Blog]]></uBlogsyNavigationTitle>
      <uBlogsyGeneralUseSummary>0</uBlogsyGeneralUseSummary>
      <uBlogsyGeneralShowSocialMedia>1</uBlogsyGeneralShowSocialMedia>
      <uBlogsyGeneralUseTitleAsNodeName>1</uBlogsyGeneralUseTitleAsNodeName>
      <uBlogsyBlogLinks><![CDATA[http://feeds.feedburner.com/UmbracoBlog
http://feeds.feedburner.com/midcodecrisis
]]></uBlogsyBlogLinks>
    </uBlogsyLanding>
    <umbracoNaviHide>0</umbracoNaviHide>
    <uBlogsyContentTitle><![CDATA[Home]]></uBlogsyContentTitle>
    <uBlogsyNavigationTitle><![CDATA[Home]]></uBlogsyNavigationTitle>
  </uBlogsySiteRoot>
</root>